<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028807983531-sniau7qhmfc14gvca2nagc5ah4ou06ep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028807983531-sniau7qhmfc14gvca2nagc5ah4ou06ep</string>
	<key>API_KEY</key>
	<string>AIzaSyBo32C0H5M03OMDH3rtY5-HrEiOT40O0_I</string>
	<key>GCM_SENDER_ID</key>
	<string>1028807983531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rapportApp</string>
	<key>PROJECT_ID</key>
	<string>e-report-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>e-report-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028807983531:ios:adc9a954e74caabf8212ee</string>
</dict>
</plist>